* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Phone container */
.phone {
    width: 550px;
    height: 1000px;
    background: radial-gradient(
  circle at 0% 0%,
  #c8ff99 0%,
  #22604e 100%);    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20%;
}


/* Title */
h1 {
  margin-top: 0;
  color: #0b5d57;
}

/* Labels */
label {
  display: block;
  margin-top: 19px;
  margin-bottom: 18px;
  font-weight: 600;
  color: #0b5d57;
}

/* Inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 2px solid #4fa08b;
  background: transparent;
  font-size: 16px;
  outline: none;
}

/* Terms box */
.terms-box {
  margin-top: 10px;
  padding: 16px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.12);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0b5d57;
}

/* Mood section */
.mood {
  margin-top: 22px;
}

.mood-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.mood-options button {
  flex: 1;
  height: 64px;
  border-radius: 14px;
  border: 2px solid #4fa08b;
  background: transparent;
  font-size: 26px;
  cursor: pointer;
}

.mood-options button:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Submit */
.submit-btn {
  margin-top: 28px;
  width: 100%;
  height: 52px;
  border-radius: 999px;
  border: none;
  background: #8fe06d;
  color: #0b5d57;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

/* Footer */
.footer {
  margin-top: 18px;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.footer a {
  color: #0b5d57;
  text-decoration: underline;
}
