:root {
    --bs-my-button-color: #ffb7b7;
    --bs-my-card-color: #ffb7b7;
}

.bg-my-card-color {
    background-color: var(--bs-my-card-color) !important;
}

.bg-my-button-color {
    background-color: var(--bs-my-button-color) !important;
}

.header {
    background-image: url("https://github.com/jerrf010/jerrf010.github.io/blob/main/Assignments/Website%20Redesign/Media/background.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    background-color: #000000;
    opacity: 0.9;
    padding-top: 20px;
    color: #ffffff;
    font-family: "Stack Sans Headline", sans-serif;
}
.navbar h2 {
    margin-left: 30px;
    font-weight: 400;
    font-size: 40px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

#current {
    font-style: bold;
    color:#ff9900;
}

.navbar a:hover {
    color: #ff9900;
}

.title_box {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 100px 20px;
    font-family: "Stack Sans Headline", sans-serif;
}

.text_border {
    margin-left: 25%;
    margin-right: 25%;
    padding: 40px;
    background-color: rgba(84, 84, 84, 0.8);
    border-radius: 10px;
}

.text_border h1 {
    font-size: 80px;
    font-weight: 300;
    margin: 0;
}

.text_border h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.section_1 {
    background-color: #ff8b8b;
}

.section_1 h2 {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: black;
    text-decoration: dashed underline 5px;
    text-underline-offset: 20px;
}

.card {
    text-align: center;
    border-radius: 0 !important;
}

.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    object-fit: cover;
}
.card .card-body {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card-img-container {
    padding: 10px;

    height:100% !important;
}

.card {
    height: 100% !important;
    border: dashed 2px #000000 !important;
}
.cart-btn img {
    width: 50px;
    height: 50px;

}

.col-md-3 {
    margin-bottom: 30px;
}
.explore_btn_container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

.explr_btn:hover {
    background-color: #ffc966;
    color: #000;
}

.explore_btn_container a {
    width: 150px;
    height: 10%;
    text-align: center;
    padding: 10px 10px;
    border: black 4px solid;
    border-radius: 100px;
}