:root {
    --bs-my-card-color: #ffb7b7;
}


html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.bg-my-card-color {
    background-color: var(--bs-my-card-color) !important;
}

.bg-my-button-color {
    background-color: var(--bs-my-button-color) !important;
}

.header {
    background-image: url("https://github.com/jerrf010/jerrf010.github.io/blob/main/Assignments/Website%20Redesign/Media/background.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #000000;
    opacity: 0.9;
    padding-top: 20px;
    color: #ffffff;
    font-family: "Stack Sans Headline", sans-serif;
}

.navbar h2 {
    margin-left: 30px;
    font-weight: 400;
    font-size: 40px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

#current {
    font-style: bold;
    color: #ff9900;
}

.navbar a:hover {
    color: #ff9900;
}

.title_box {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 100px 20px;
    font-family: "Stack Sans Headline", sans-serif;
}

.text_border {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: rgba(84, 84, 84, 0.8);
    border-radius: 10px;
    max-width: 40%;
}

.text_border h1 {
    font-size: 90px;
    font-weight: 300;
    margin: 0;
}

.text_border h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.section_1 {
    background-color: #ff8b8b;
}

.section_1 h2 {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    color: black;
    text-decoration: dashed underline 5px;
    text-underline-offset: 20px;
}

.card {
    text-align: center;
    border-radius: 0 !important;
}

.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    object-fit: cover;
}

.card .card-body {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card-img-container {
    padding: 10px;

    height: 100% !important;
}

.card {
    height: 100% !important;
    border: dashed 2px #000000 !important;
}

.cart-btn img {
    width: 50px;
    height: 50px;

}

.col-md-3 {
    margin-bottom: 30px;
}

.explore_btn_container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

.explore_btn {
    width: 150px;
    display: inline-block;
    height: 10%;
    text-align: center;
    padding: 10px 10px;
    border: black 4px solid;
    border-radius: 100px;
    color: black;
    text-decoration: none;
    background-color: #ffb7b7;
    font-family: "open sans", sans-serif;
    transition: background-color 0.5s ease;
}

.explore_btn:hover {
    background-color: white;
    color: black;
    border: solid 4px black;
    padding: 10px 10px;
    height: 10%;
    font-family: "open sans", sans-serif;
}

.section_2 {
    background-color: #ffb7b7;
    padding-bottom: 10%;
}

.section_2 iframe {
    margin-left: 5%;
    margin-top: 70px;
    width: 40%;
    height: auto;
}

.hours {
    margin-left: 20%;
    padding: 2%;
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
}

.hours h2 {
    font-size: 250%;
    text-decoration: underline dashed 5px;
    text-underline-offset: 15px;
    margin-bottom: 10%;
}

.hours h3 {
    font-size: 160%;
    margin: 3% 0;
    font-weight: 400;
}

.hours a {
    display: inline-block;
    margin-top: 20px;
    padding: 13px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    height: 50px;
    width: 160px;
    text-align: center;
    border: solid 2px black;
    font-family: "open sans", sans-serif;
}

.card-title {
    text-transform: uppercase;
    font-weight: 400;
}

.section_3 {
    background-color: #ff8b8b;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 3%;
    font-family: "Stack Sans Headline", sans-serif;
}

.story {
    font-family: "Stack Sans Headline", sans-serif;
    color: black;
    height: auto;
    width: 90%;
    background-color: #ffd4d4;
    margin: 0 auto;
    border: black dashed 4px;
    border-radius: 30px;
    padding-bottom: 3%;
}

.story h2 {
    font-size: 300%;
    text-decoration: underline solid 5px;
    text-underline-offset: 5px;
    margin-bottom: 3%;
    text-align: center;
    margin-top: 1%;
}

.story img {
    width: 25%;
    height: auto;
    margin-top: -1%;
    margin-left: 11%;
    border: 3px black solid;
    border-radius: 10px;
}

.story p {
    font-size: 130%;
    margin-top: -15%;
    line-height: 1.6;
    margin-left: 45%;
    text-align: left;
    width: 45%;
}

.story a {
    display: inline-block;
    margin-top: 6%;
    padding: 1%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 36px;
    font-weight: 500;
    margin-left:45%;
    height: 12%;
    width: 10%;
    text-align: center;
    border: solid 2px black;
    font-family: "open sans", sans-serif;
}

.bw_btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: solid 2px #000000;
}

.bw_btn {
    transition: background-color 0.5s ease;
}

.footer {
    background-color: #ffb7b7;
    color: black;
    text-align: center;
    padding: 20px 0;
    font-family: "open sans", sans-serif;
}

.lt h2{
    color: black;
    font-weight: 400;
    text-align: left;
    margin-left: 10%;
    font-size: 400%;
    margin-top: 1%;
    width: 30%;
    border-bottom: solid black 4px;
    font-family: "open sans", sans-serif;
}

.caps h3 {
    text-align: left;
    margin-left: 10%;
    text-transform: uppercase;
    margin-top: 1%;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 600;;
}

.social_media_icons img {
    list-style-type: none;
    padding: 0;
    margin-top: 1%;
    width: 5%;
    height: 5%;
}

.social_media_icons {
    text-align: left;
    margin-left: 10%;
    width: auto;
}

.footer_info {
   margin-right: 10%;
   margin-left: 60%;
   margin-top: -13%;
   text-align: left;
}

.footer_info h3 {
    text-transform: uppercase;
}

.footer_info h4 {
    margin-top: 1%;
    font-weight: 400;
}

.footer_logo {
    margin: 0 auto;
    margin-top: 3%;
}

.map {
}