:root {
    --bs-my-button-color: #ffb7b7;
    --bs-my-card-color: #ffb7b7;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}

.bg-my-card-color {
    background-color: var(--bs-my-card-color) !important;
}

.bg-my-button-color {
    background-color: var(--bs-my-button-color) !important;
}

.header {
    background-image: url("https://github.com/jerrf010/jerrf010.github.io/blob/main/Assignments/Website%20Redesign/Media/background.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #000000;
    opacity: 0.9;
    padding-top: 20px;
    color: #ffffff;
    font-family: "Stack Sans Headline", sans-serif;
}

.navbar h2 {
    margin-left: 30px;
    font-weight: 400;
    font-size: 40px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

#current {
    font-style: bold;
    color: #ff9900;
}

.navbar a:hover {
    color: #ff9900;
}

.title_box {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 100px 20px;
    font-family: "Stack Sans Headline", sans-serif;
}

.text_border {
    margin-left: 25%;
    margin-right: 25%;
    padding: 40px;
    background-color: rgba(84, 84, 84, 0.8);
    border-radius: 10px;
}

.text_border h1 {
    font-size: 80px;
    font-weight: 300;
    margin: 0;
}

.text_border h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.section_1 {
    background-color: #ff8b8b;
}

.section_1 h2 {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    color: black;
    text-decoration: dashed underline 5px;
    text-underline-offset: 20px;
}

.card {
    text-align: center;
    border-radius: 0 !important;
}

.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    object-fit: cover;
}

.card .card-body {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card-img-container {
    padding: 10px;

    height: 100% !important;
}

.card {
    height: 100% !important;
    border: dashed 2px #000000 !important;
}

.cart-btn img {
    width: 50px;
    height: 50px;

}

.col-md-3 {
    margin-bottom: 30px;
}

.explore_btn_container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

.explr_btn:hover {
    background-color: #ffc966;
    color: #000;
}

.explore_btn_container a {
    width: 150px;
    height: 10%;
    text-align: center;
    padding: 10px 10px;
    border: black 4px solid;
    border-radius: 100px;
}

.section_2 {
    background-color: #ffb7b7;
    padding-bottom: 10%;
}

.section_2 iframe {
    margin-left: 5%;
    margin-top: 70px;
}

.hours {
    margin-left: 55%;
    margin-top: -400px;
    padding: 20px;
    width: 500px;
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
}

.hours h2 {
    font-size: 40px;
    text-decoration: underline dashed 5px;
    text-underline-offset: 15px;
    margin-bottom: 30px;
}

.hours h3 {
    font-size: 25px;
    margin: 10px 0;
    font-weight: 400;
}

.hours a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
}

.card-title {
    text-transform: uppercase;
    font-weight: 400;
}

.section_3 {
    background-color: #ff8b8b;
    padding-bottom: 50px;
    margin: 0 auto;
    padding-top: 50px
}

.story {
    font-family: "Stack Sans Headline", sans-serif;
    color: black;
    height: 450px;
    width: 90%;
    background-color: #ffd4d4;
    margin: 0 auto;
    border: black dashed 4px;
    border-radius: 30px
}

.story h2 {
    font-size: 50px;
    text-decoration: underline solid 5px;
    text-underline-offset: 5px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px
}

.story img {
    width: 350px;
    height: auto;
    margin-top: -4px;
    margin-left: 167px;
    border: 3px black solid;
    border-radius: 10px;
}

.story p {
    font-size: 20px;
    margin-top: -194px;
    line-height: 1.6;
    margin-left: 45%;
    text-align: left;
    width: 650px;
}

.story a {
    display: inline-block;
    margin-top: 69px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    margin-left:45%;
}