:root {
    --bs-my-card-color: #ffe3e3;
}

.bg-my-card-color {
    background-color: var(--bs-my-card-color) !important;
}


html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    text-align: center;
    color: black;
}

.TT_hoves,
.section_1,
.section_2,
.section_3 {
    font-family: "Stack Sans Headline", sans-serif !important;
}

.Canva_sans,
.card-title {
    font-family: "noto sans", sans-serif !important;
}

.Open_sans,
.card-body {
    font-family: "open sans", sans-serif !important;
}

.return_up,
.return_up img {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.return_up img:hover {
    opacity: 1.0;
}


.header {
    background-image: url("https://github.com/jerrf010/jerrf010.github.io/blob/main/Assignments/Website%20Redesign/Media/background.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.navbar {
    background-color: #000000;
    opacity: 0.9;
    padding-top: 20px;
    color: #ffffff;
}

.navbar h2 {
    margin-left: 30px;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 2px;
}

.navlinks a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 200;
    font-size: 20px;
    transition: 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#current,
.navbar a:hover {
    color: #ff9900;
}

.title_box {
    padding: 100px 20px;
}

.text_border {
    padding: 40px;
    background-color: rgba(84, 84, 84, 0.75);
    border-radius: 20px;
    margin: 0 auto;
    width: 30%;
}

.text_border h1 {
    font-size: 600%;
    font-weight: 300;
}

.text_border h2 {
    font-size: 30px;
    font-weight: 500;
}

.section_1,
.section_3 {
    background-color: #ff8b8b;
    padding-bottom: 40px;
    padding-top: 40px;
}

.section_1 h2 {
    font-size: 50px;
    font-weight: 400;
}

#home_section1_h2 {
    width: 50%
}

.card-img-top,
.card .card-body {}

.card-img-container {
    padding: 10px;
}

.card {
    height: 100% !important;
    border: dashed 2px #000000 !important;
}

.cart-btn img {
    width: 50px;
    height: 50px;
    position: relative;

}

.card_subtitle {
    color: #545454;
}

.explore_btn_container {
    margin-top: 30px;
}

.explore_btn {
    width: 150px;
    display: inline-block;
    height: 10%;
    padding: 10px 10px;
    border: black 4px solid;
    border-radius: 100px;
    text-decoration: none;
    background-color: #ffb7b7;
    transition: background-color 0.5s ease;
    color: black;
}

.explore_btn:hover {
    background-color: white;
    border: solid 4px black;
    padding: 10px 10px;
    height: 10%;
}

.section_2 {
    background-color: #ffb7b7;
    padding-bottom: 5%;
}

.section_2 iframe {
    padding-left: 5%;
    padding-top: 70px;
    width: 45%;
    height: 500px;
}

.hours {
    margin-left: 16%;
    width: 500px !important;
    margin-top: 5% !important;
}

.hours h2 {
    font-size: 350%;
    text-decoration: underline dashed 5px;
    text-underline-offset: 15px;
    margin-bottom: 10%;
    font-weight: 100;
}

.hours h3 {
    font-size: 160%;
    margin: 2%;
    font-weight: 200;
}

.hours a,
.story a {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
    width: 160px;
    border: solid 2px black;
    font-weight: 500;
    border-radius: 36px;
}

.card-title {
    text-transform: uppercase;
    font-weight: 400;
}

.story {
    height: auto;
    width: 90%;
    background-color: #ffd4d4;
    margin: 0 auto;
    border: black dashed 4px;
    border-radius: 30px;
    padding-bottom: 3%;
}

.story h2 {
    font-size: 300%;
    text-decoration: underline solid 5px;
    text-underline-offset: 5px;
    margin-bottom: 3%;
    margin-top: 1%;
}

.story img {
    width: 26%;
    height: auto;
    margin-top: 0%;
    margin-left: 11%;
    border-radius: 10px;
    object-fit: fill;
    border: solid 3px black;
    padding: 0;
}

.story p {
    font-size: 130%;
    margin-top: -17%;
    line-height: 1.6;
    margin-left: 30%;
    text-align: left;
    width: 60%;
}

.bw_btn:hover {
    background-color: #ffffff;
    border: solid 2px #000000;
    color: #000;
}

.bw_btn {
    transition: background-color 0.5s ease;
}

.footer {
    background-color: #ffb7b7;
    padding: 20px 0;
    text-align: left;

}

.lt h2 {
    font-weight: 400;
    margin-left: 10%;
    font-size: 400%;
    margin-top: 1%;
    width: 30%;
    border-bottom: solid black 4px;
}

.caps h3 {
    margin-left: 10%;
    text-transform: uppercase;
    margin-top: 1%;
    font-weight: 600;
}

.social_media_icons img {
    list-style-type: none;
    padding: 0;
    margin-top: 1%;
    width: 4%;
}

.social_media_icons {
    margin-left: 10%;
}

.footer_info {
    margin-right: 10%;
    margin-left: 60%;
    margin-top: -14%;
}

.footer_info h3 {
    text-transform: uppercase;
    padding-top: 3%;
    font-weight: 800;
}

.footer_info h4 {
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.footer_logo{
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}

.footer_logo h3 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hours_times {
    margin-bottom: 40px;
}

.story_txt {
    margin-left: 15%;
    width: 75%;
}

.menu_titles {
    font-weight: 500;
    font-size: 25px;
}

.div_line {
    border: solid black 3px;
    border-radius: 10px;
    margin: 0 auto;
    width: 85%;
    margin-top: 40px;
}

#full_menu {
    padding: 0;
}

#full_menu h2 {
    font-size: 50px;
    font-weight: 400;
}

.secondary_line {
    border-bottom: dashed black 4px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 3%;
}


#full_menu .card-img-container,
#about_card img {
    margin-top: 20px;
    margin-left: 10px;
    height: 190px;
    width: 300px;
}

#full_menu .card-body h3 {
    font-size: 22px;
    font-weight: 600;
}

#full_menu .card-body p {
    font-size: 13px;
    font-weight: 500;
}

.rowv1 .card1,
.rowv2 .card2 {
    width: 800px;
}

.rowv2 .card1,
.rowv1 .card2 {
    padding-top: 30px;
    width: 378px;
}

.rowv1 .card2 {
    margin-left: 50px;
}

.rowv1,
.rowv2 {
    margin-top: 15px !important;
    height: 260px !important;
}

.card_text {
    padding-left: 48%;
    margin-top: -26%;
}

.rowv2 .card2 {
    font-size: 10px;
    margin-left: 50px;
}

.row {
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
}

.h2_about_line {
    width: 50%;
    margin-bottom: 22px;
    margin-top: 20px;
}

#about_card {
    margin-top: 27px;
    margin-bottom: 30px;
}

#about_card .card-body {
    padding-left: 37%;
    margin-top: -22%;
    margin-bottom: 59px;
}

#about_card .card {
    width: 90% !important;
    margin: 0 auto
}

#about_card img {
    margin-left: -61%;
    height: 300px;
    width: 400px;
    border: black solid 3px !important;
}

#about_section_1 .card-title {
    font-size: 30px;
    font-weight: 400;
}