:root {
    --bs-my-card-color: #ffe3e3;
}

.bg-my-card-color {
    background-color: var(--bs-my-card-color) !important;
}


html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    text-align: center;
    color: black;
}

.TT_hoves,
.section_1,
.section_2 {
    font-family: "Stack Sans Headline", sans-serif !important;
}

.Canva_sans,
.card-title {
    font-family: "noto sans", sans-serif !important;
}

.Open_sans,
.card-body {
    font-family: "open sans", sans-serif;
}

.return_up,
.return_up img {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.return_up img:hover {
    opacity: 1.0;
}


.header {
    background-image: url("https://github.com/jerrf010/jerrf010.github.io/blob/main/Assignments/Website%20Redesign/Media/background.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.navbar {
    background-color: #000000;
    opacity: 0.9;
    padding-top: 20px;
    color: #ffffff;
}

.navbar h2 {
    margin-left: 30px;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 2px;
}

.navlinks a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 200;
    font-size: 20px;
    transition: 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#current,
.navbar a:hover {
    color: #ff9900;
}

.title_section {
    padding: 100px 20px;
}

.title_box {
    padding: 40px;
    background-color: rgba(84, 84, 84, 0.75);
    border-radius: 20px;
    margin: 0 auto;
    width: 30%;
}

.title_box h1 {
    font-size: 600%;
    font-weight: 300;
}

.title_box h2 {
    font-size: 30px;
    font-weight: 500;
}

.section_1{
    background-color: #ff8b8b;
    padding-bottom: 40px;
    padding-top: 40px;
}

.section_1 h2 {
    font-size: 50px;
    font-weight: 400;
}

.card-img-container {
    padding: 10px;
}

.card {
    height: 100% !important;
    border: dashed 2px #000000 !important;
}

.cart-btn img {
    width: 50px;
    height: 50px;
}

.card_subtitle {
    color: #545454;
}

.section_2 {
    background-color: #ffb7b7;
    padding-bottom: 5%;
}

.section_2 iframe {
    padding-left: 5%;
    padding-top: 70px;
    width: 95%;
}

.hours {
    margin-top: 9%;
}

.hours h2 {
    font-size: 350%;
    text-decoration: underline dashed 5px;
    text-underline-offset: 15px;
    margin-bottom: 5%;
    font-weight: 100;
}

.hours h3 {
    font-size: 160%;
    margin: 2%;
    font-weight: 200;
}

.bw_btn {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
    width: 160px;
    border: solid 2px black;
    font-weight: 500;
    border-radius: 36px;
    z-index: 999;
}

.card-title {
    text-transform: uppercase;
    font-weight: 400;
}

.story {
    width: 90%;
    background-color: #ffd4d4;
    margin: 0 auto;
    border: black dashed 4px;
    border-radius: 30px;
    padding-bottom: 3%;
}

.story h2 {
    font-size: 300%;
    text-decoration: underline solid 5px;
    text-underline-offset: 5px;
    margin-bottom: 3%;
    margin-top: 1%;
}

.story img {
    height: 249px;
    margin-top: 0%;
    margin-left: 11%;
    border-radius: 10px;
    border: solid 3px black;
}

.story p {
    font-size: 130%;
    line-height: 1.6;
    text-align: left;
    margin-top: 4%;
}

.bw_btn:hover {
    background-color: #ffffff;
    border: solid 2px #000000;
    color: #000;
}

.bw_btn {
    transition: background-color 0.5s ease;
}

.footer {
    background-color: #ffb7b7;
    padding: 20px 0;
    text-align: left;

}

.lt h2 {
    font-weight: 400;
    font-size: 400%;
    border-bottom: solid black 4px;
}

.caps h3 {
    text-transform: uppercase;
    margin-top: 3%;
    font-weight: 600;
}

.foot_mar {
    margin-left: 10%;
}

.social_media_icons img {
    list-style-type: none;
    padding: 0;
    margin-top: 1%;
    width: 4%;
}

.footer_info {
    margin-left: 10%;
}

.footer_info h3 {
    font-weight: 800;
}

.footer_info h4 {
    font-weight: 200;
    color: black;
}

.footer_logo {
    text-align: center;
}

.footer_logo h3 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hours_times {
    margin-bottom: 42px;
}

.menu_titles {
    font-weight: 500;
    font-size: 25px;
}

#full_menu {
    padding: 0;
}

#full_menu h2 {
    font-size: 50px;
    font-weight: 400;
}

.secondary_line {
    border-bottom: dashed black 4px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 3%;
}


#full_menu .card-img-container {
    width: 300px;
    margin-left: 36px;
}

#full_menu .card-body h3 {
    font-size: 22px;
    font-weight: 600;
}

#full_menu .card-body p {
    font-size: 13px;
    font-weight: 500;
}

.rowv1 .card1,
.rowv2 .card2 {
    width: 800px;
}

.rowv2 .card1,
.rowv1 .card2 {
    padding-top: 30px;
    width: 418px;
}

.rowv1 .card2 {
    margin-left: 50px;
}

.rowv1,
.rowv2 {
    margin-top: 15px;
    height: 260px;
}

.rowv2 .card2 {
    margin-left: 50px;
}

.row {
    padding-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.h2_about_line {
    width: 50%;
    margin-bottom: 22px;
    margin-top: 20px;
}

#about_card {
    width: 90%;
    margin: 0 auto;
    padding: 35px;
    padding-right: 70px;
}

#about_card img {
    height: 300px;
    width: 400px;
    border: black solid 3px !important;
}

#about_section_2 .card-title {
    font-size: 30px;
    font-weight: 400;
}

.contact_section1 iframe {
    width: 600px;
    margin: 50px;
}

.contact_section1 .row {
    background-color: #ffd4d4;
    width: 90%;
    margin: 0 auto;
    border: dashed 3px black;
    margin-top: 30px;
}

.contact_section1 .title {
    font-size: 49px;
    margin-top: 15px;
    text-decoration: underline;
}

#contact_section1 {
    width: 49%;
}

.contact_section1 .card-body {
    width: auto;
    margin-top: 90px;
    text-align: left;
    text-decoration: none;
}

.contact_section1 .card_title a {
    text-decoration: none;
    color: black
}

#contact_hours h2 {
    font-weight: 200;
    border-bottom: black 5px dashed;
    font-size: 60px;
}

.card_title h3 {
    text-transform: uppercase;
}

#contact_hours .hours_times h4 {
    font-size: 27px;
    text-decoration: none;
    font-weight: 100;
}

#contact_hours {
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 7px;
}

#contact_hours .hours_times,
#contact_hours a {
    margin-top: 30px;
}

.contact_info h3 {
    font-size: 25px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

.contact_info {
    margin-top: 22%;
    height: max-content;
    width: 750px !important;
}