.phone {
    width: 375px;
    height: 667px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}