body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size:larger;
    width: 100%;
}

ul li {
    float: left;
    border-right: 1px solid #bbb;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #0bd48a;
}

ul li a.active {
  background-color: #04AA6D;
}

ul li:last-child {
  border-right: none;
}

button {
    background: linear-gradient(rgb(176, 255, 30),rgb(115, 0, 255),rgb(255, 3, 11));
    color: white;
    padding: 10px 20px;
    border: solid black 2px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20%;
    display: block;
    border-radius: 5px;
    font-family: 'Michroma';
    text-transform: uppercase;
}