body {
    background-color: black;
}

#background img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.polaroid {
    width: 50%;
    margin : auto;
    background-color: rgb(204, 14, 14);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 124, 0.59);
    margin-bottom: 25px;
    border-radius: 5px;
    padding-top: 10px;
}

.container {
    text-align: center;
    padding: 10px 20px;
    color: black;
    font-family: "Bitcount Grid Single", system-ui;
    font-size: 50px;
    text-transform: uppercase;
}

.polaroid img {
    width: 70%;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    display: block;
}

.Yarndings {
    font-family: 'Yarndings 20';
}