body {
    background-image: url(https://www.anipedia.net/imagenes/tigres.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.polaroid {
    width: 50%;
    margin : auto;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 25px;
    border-radius: 5px;
}

.container {
    text-align: center;
    padding: 10px 20px;

}

.polaroid img {
    padding-top: 10px;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    display: block;
}