#header{
    background-color: #7b9e89;
    color: #020122;
    width: 80%;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 30px;
    border-radius: 35px;
    border: 2px solid #020122;
    position:sticky;
    top: 1%;
    width: 30%;
    height: 30 px;
    z-index: 1;
}
#title{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 35px;
    border: 2px solid #020122;
    color: #020122;
}

h1{
    text-align: center;
}

#parent {
    position:relative;
    margin: 5% auto;
    width: 80%;
    height: 550px;
    background-color: #fc9e4f;
    color: #020122;
    border-radius: 70px;
    border: 2px solid #020122;
}

#parent p, h3{
    padding: 3%;
    font-size: 1.25rem;
}

#child{

    width: 75%;
    height: 250px;
    background-color: #f4442e;
    color: #020122;
    margin: auto;
    border: 2px solid #020122;
}
#child p{
    padding: 3%;
    font-size: 1.25rem;
}

#child h3{
    font-size: 1.25rem;
    text-align: center;
}

#fixed{
    border-radius: 55px;
    background-color: #fc9e4f;
    color: #020122;
    position:fixed;
    top: 95%;
    width: 30%;
    height: 30px;
}

#fixed p{
    display: inline;
    padding: 5%;
    text-align: center;
}

#relative{
    width: 50%;
    height: 200px;
    background-color: #edd382;
    color: #020122;
    margin: 200px auto 0 auto;
    position: static;
    border-radius: 55px;
    border: 2px solid #020122;
}

#relative p, h3{
    padding: 3%;
    font-size: 1.25rem;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a3cef1;
}